### Connecting to Postgresql

In [1]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.12/site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [3]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [4]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
%sql postgresql://postgres:@localhost:5432/superstoredb

In [ ]:
%%sql

CREATE TABLE SuperStore(
    RowID INT PRIMARY KEY,
    OrderID VARCHAR(14),
    OrderDate DATE,
    ShipDate DATE,
    ShipMode VARCHAR(100),
    CustomerID VARCHAR(8),
    CustomerName VARCHAR(100),
    Segment VARCHAR(50),
    Country VARCHAR(255),
    City VARCHAR(255),
    State VARCHAR(255),
    PostalCode VARCHAR(6),
    Region VARCHAR(20),
    ProductID VARCHAR(15),
    Category VARCHAR(255),
    SubCategory VARCHAR(255),
    ProductName VARCHAR(255),
    Sales DECIMAL(10, 5),
    Quantity INT,
    Discount DECIMAL(5, 2),
    Profit DECIMAL(10, 5)
)

In [ ]:
%%sql
COPY SuperStore(
    RowID,
    OrderID,
    OrderDate,
    ShipDate,
    ShipMode,
    CustomerID,
    CustomerName,
    Segment,
    Country,
    City,
    State,
    PostalCode,
    Region,
    ProductID,
    Category,
    SubCategory,
    ProductName,
    Sales,
    Quantity,
    Discount,
    Profit
)
FROM '/Users/tshmacm1171/Desktop/superstore_dataset_analysis/superstore_updated.csv'
DELIMITER ','
CSV HEADER;

In [ ]:
%%sql

CREATE TABLE Shipment (
    ShipmentID SERIAL PRIMARY KEY,
    ShipDate DATE NOT NULL,
    ShipMode VARCHAR(14) NOT NULL
);

CREATE TABLE State (
    StateID SERIAL PRIMARY KEY,
    State VARCHAR(27) NOT NULL
);

CREATE TABLE Region (
    RegionID SERIAL PRIMARY KEY,
    Region VARCHAR(7) NOT NULL
);

CREATE TABLE City (
    CityID SERIAL PRIMARY KEY,
    City VARCHAR(45) NOT NULL
);

CREATE TABLE PostalCode (
    PostalCodeID SERIAL PRIMARY KEY,
    PostalCode VARCHAR(6) NOT NULL
);

CREATE TABLE Segment (
    SegmentID SERIAL PRIMARY KEY,
    Segment VARCHAR(11) NOT NULL
);

CREATE TABLE Country (
    CountryID SERIAL PRIMARY KEY,
    Country VARCHAR(13) NOT NULL
);

CREATE TABLE Customers (
    CustomerID VARCHAR(8) PRIMARY KEY,
    CustomerName VARCHAR(100) NOT NULL,
    CountryID INT,
    FOREIGN KEY (CountryID) REFERENCES Country(CountryID)
);

CREATE TABLE Product (
    ProductID VARCHAR(15) PRIMARY KEY,
    ProductName VARCHAR(255) NOT NULL
);

CREATE TABLE Order (
    RowID INT PRIMARY KEY,
    OrderID VARCHAR(14) NOT NULL,
    OrderDate DATE,
    Sales DECIMAL(10, 5),
    Quantity INT,
    Discount DECIMAL(5, 2),
    Profit DECIMAL(10, 5),
    CustomerID VARCHAR(8),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

CREATE TABLE Category (
    CategoryID SERIAL PRIMARY KEY,
    Category VARCHAR(15)
);

CREATE TABLE SubCategory (
    SubCategoryID SERIAL PRIMARY KEY,
    SubCategory VARCHAR(50),
    CategoryID INT,
    FOREIGN KEY (CategoryID) REFERENCES Category(CategoryID)
);

In [43]:
%%sql
INSERT INTO Country (Country)
SELECT DISTINCT Country
FROM SuperStore
WHERE NOT EXISTS (
    SELECT 1
    FROM Country
    WHERE Country.Country = SuperStore.Country
);

 * postgresql://postgres:***@localhost:5432/superstoredb
0 rows affected.

[]

In [ ]:
%%sql

INSERT INTO Customers (CustomerID, CustomerName, CountryID)
SELECT DISTINCT 
    SuperStore.CustomerID, 
    SuperStore.CustomerName, 
    Country.CountryID
FROM SuperStore
JOIN Country ON SuperStore.Country = Country.Country
WHERE NOT EXISTS (
    SELECT 1
    FROM Customers
    WHERE Customers.CustomerID = SuperStore.CustomerID
);

In [ ]:
%%sql

INSERT INTO Shipment (ShipDate, ShipMode)
SELECT DISTINCT ShipDate, ShipMode
FROM SuperStore
WHERE NOT EXISTS (
    SELECT 1
    FROM Shipment
    WHERE Shipment.ShipDate = SuperStore.ShipDate
      AND Shipment.ShipMode = SuperStore.ShipMode
);

INSERT INTO state (state)
SELECT DISTINCT state
FROM SuperStore
WHERE NOT EXISTS (
    SELECT 1
    FROM state
    WHERE state.state = SuperStore.state
);

INSERT INTO Region (Region)
SELECT DISTINCT Region
FROM SuperStore
WHERE NOT EXISTS (
    SELECT 1
    FROM Region
    WHERE Region.Region = SuperStore.Region
);


INSERT INTO City (City)
SELECT DISTINCT City
FROM SuperStore
WHERE NOT EXISTS (
    SELECT 1
    FROM City
    WHERE City.City = SuperStore.City
);


INSERT INTO PostalCode (PostalCode)
SELECT DISTINCT PostalCode
FROM SuperStore
WHERE NOT EXISTS (
    SELECT 1
    FROM PostalCode
    WHERE PostalCode.PostalCode = SuperStore.PostalCode
);


INSERT INTO Segment (Segment)
SELECT DISTINCT Segment
FROM SuperStore
WHERE NOT EXISTS (
    SELECT 1
    FROM Segment
    WHERE Segment.Segment = SuperStore.Segment
);

 * postgresql://postgres:***@localhost:5432/superstoredb
0 rows affected.
(psycopg2.errors.UndefinedColumn) column "State" does not exist
LINE 2: SELECT DISTINCT "State"
                        ^
HINT:  Perhaps you meant to reference the column "superstore.state" or the column "state.state".

[SQL: INSERT INTO "state" ("state")
SELECT DISTINCT "State"
FROM SuperStore;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql

INSERT INTO Category (Category)
SELECT DISTINCT Category
FROM SuperStore
WHERE NOT EXISTS (
    SELECT 1
    FROM Category
    WHERE Category.Category = SuperStore.Category
);


INSERT INTO SubCategory (SubCategory, CategoryID)
SELECT DISTINCT 
    SuperStore.SubCategory, 
    Category.CategoryID
FROM SuperStore
JOIN Category ON Category.Category = SuperStore.Category
WHERE NOT EXISTS (
    SELECT 1
    FROM SubCategory
    WHERE SubCategory.SubCategory = SuperStore.SubCategory
      AND SubCategory.CategoryID = Category.CategoryID
);

 * postgresql://postgres:***@localhost:5432/superstoredb
3 rows affected.
17 rows affected.

[]

In [14]:

%%sql

INSERT INTO Product (ProductID, ProductName)
SELECT DISTINCT ProductID, ProductName
FROM SuperStore
WHERE NOT EXISTS (
    SELECT 1
    FROM Product
    WHERE Product.ProductID = SuperStore.ProductID
);

 * postgresql://postgres:***@localhost:5432/superstoredb
1894 rows affected.
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "order_pkey"
DETAIL:  Key (orderid)=(CA-2015-165624) already exists.

[SQL: INSERT INTO "order" (OrderID, OrderDate, Sales, Quantity, Discount, Profit, CustomerID)
SELECT DISTINCT OrderID, OrderDate, Sales, Quantity, Discount, Profit, CustomerID
FROM SuperStore;]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [19]:
%%sql

INSERT INTO order (RowID, OrderID, OrderDate, Sales, Quantity, Discount, Profit, CustomerID)
SELECT RowID, OrderID, OrderDate, Sales, Quantity, Discount, Profit, CustomerID
FROM SuperStore;

 * postgresql://postgres:***@localhost:5432/superstoredb
9994 rows affected.

[]

## Create Mapping Tables

In [11]:
%%sql
CREATE TABLE StateMap (
    StateID INT,
    CustomerID VARCHAR(8),
    PRIMARY KEY (StateID, CustomerID),
    FOREIGN KEY (StateID) REFERENCES State(StateID),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

CREATE TABLE RegionMap (
    RegionID INT,
    CustomerID VARCHAR(8),
    PRIMARY KEY (RegionID, CustomerID),
    FOREIGN KEY (RegionID) REFERENCES Region(RegionID),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

CREATE TABLE CityMap (
    CityID INT,
    CustomerID VARCHAR(8),
    PRIMARY KEY (CityID, CustomerID),
    FOREIGN KEY (CityID) REFERENCES City(CityID),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

CREATE TABLE PostalCodeMap (
    PostalCodeID INT,
    CustomerID VARCHAR(8),
    PRIMARY KEY (PostalCodeID, CustomerID),
    FOREIGN KEY (PostalCodeID) REFERENCES PostalCode(PostalCodeID),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

CREATE TABLE SegmentMap (
    SegmentID INT,
    CustomerID VARCHAR(8),
    PRIMARY KEY (SegmentID, CustomerID),
    FOREIGN KEY (SegmentID) REFERENCES Segment(SegmentID),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

CREATE TABLE ProductMap (
    RowID INT,
    ProductID VARCHAR(15),
    PRIMARY KEY (RowID, ProductID),
    FOREIGN KEY (RowID) REFERENCES order(RowID),
    FOREIGN KEY (ProductID) REFERENCES Product(ProductID)
);

 * postgresql://postgres:***@localhost:5432/superstoredb
Done.
Done.
Done.
Done.
Done.
Done.

[]

### Inserting into Mapping Tables

In [45]:
%%sql

INSERT INTO RegionMap (RegionID, CustomerID)
SELECT DISTINCT 
    Region.RegionID,
    Customers.CustomerID
FROM SuperStore
JOIN Region ON SuperStore.Region = Region.Region
JOIN Customers ON SuperStore.CustomerID = Customers.CustomerID
WHERE NOT EXISTS (
    SELECT 1
    FROM RegionMap
    WHERE RegionMap.RegionID = Region.RegionID
      AND RegionMap.CustomerID = Customers.CustomerID
);


INSERT INTO CityMap (CityID, CustomerID)
SELECT DISTINCT 
    City.CityID,
    Customers.CustomerID
FROM SuperStore
JOIN City ON SuperStore.City = City.City
JOIN Customers ON SuperStore.CustomerID = Customers.CustomerID
WHERE NOT EXISTS (
    SELECT 1
    FROM CityMap
    WHERE CityMap.CityID = City.CityID
      AND CityMap.CustomerID = Customers.CustomerID
);


INSERT INTO PostalCodeMap (PostalCodeID, CustomerID)
SELECT DISTINCT 
    PostalCode.PostalCodeID,
    Customers.CustomerID
FROM SuperStore
JOIN PostalCode ON SuperStore.PostalCode = PostalCode.PostalCode
JOIN Customers ON SuperStore.CustomerID = Customers.CustomerID
WHERE NOT EXISTS (
    SELECT 1
    FROM PostalCodeMap
    WHERE PostalCodeMap.PostalCodeID = PostalCode.PostalCodeID
      AND PostalCodeMap.CustomerID = Customers.CustomerID
);


INSERT INTO SegmentMap (SegmentID, CustomerID)
SELECT DISTINCT 
    Segment.SegmentID,
    Customers.CustomerID
FROM SuperStore
JOIN Segment ON SuperStore.Segment = Segment.Segment
JOIN Customers ON SuperStore.CustomerID = Customers.CustomerID
WHERE NOT EXISTS (
    SELECT 1
    FROM SegmentMap
    WHERE SegmentMap.SegmentID = Segment.SegmentID
      AND SegmentMap.CustomerID = Customers.CustomerID
);


INSERT INTO ProductMap (RowID, ProductID)
SELECT DISTINCT 
    order.RowID,
    Product.ProductID
FROM SuperStore
JOIN order ON SuperStore.RowID = order.RowID
JOIN Product ON SuperStore.ProductID = Product.ProductID
WHERE NOT EXISTS (
    SELECT 1
    FROM ProductMap
    WHERE ProductMap.RowID = order.RowID
      AND ProductMap.ProductID = Product.ProductID
);

INSERT INTO StateMap (StateID, CustomerID)
SELECT DISTINCT 
    state.StateID,
    Customers.CustomerID
FROM SuperStore
JOIN state ON SuperStore.state = state.State
JOIN Customers ON SuperStore.CustomerID = Customers.CustomerID
WHERE NOT EXISTS (
    SELECT 1
    FROM StateMap
    WHERE StateMap.StateID = state.StateID
      AND StateMap.CustomerID = Customers.CustomerID
);

 * postgresql://postgres:***@localhost:5432/superstoredb
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
(psycopg2.errors.SyntaxError) syntax error at or near "order"
LINE 3:     order.RowID,
            ^

[SQL: INSERT INTO ProductMap (RowID, ProductID)
SELECT DISTINCT
    order.RowID,
    Product.ProductID
FROM SuperStore
JOIN order ON SuperStore.RowID = order.RowID
JOIN Product ON SuperStore.ProductID = Product.ProductID
WHERE NOT EXISTS (
    SELECT 1
    FROM ProductMap
    WHERE ProductMap.RowID = order.RowID
      AND ProductMap.ProductID = Product.ProductID
);]
(Background on this error at: https://sqlalche.me/e/20/f405)