### Connecting to Postgresql

In [ ]:
pip install sqlalchemy

In [ ]:
pip install psycopg2-binary

In [3]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [ ]:
pip install ipython-sql

In [5]:
%sql postgresql://postgres:@localhost:5432/superstoredb

In [ ]:
%%sql

CREATE TABLE Shipment (
    ShipmentID SERIAL PRIMARY KEY,
    ShipDate DATE NOT NULL,
    ShipMode VARCHAR(14) NOT NULL
);

CREATE TABLE "state" (
    StateID SERIAL PRIMARY KEY,
    "state" VARCHAR(27) NOT NULL
);

CREATE TABLE Region (
    RegionID SERIAL PRIMARY KEY,
    Region VARCHAR(7) NOT NULL
);

CREATE TABLE City (
    CityID SERIAL PRIMARY KEY,
    City VARCHAR(45) NOT NULL
);

CREATE TABLE PostalCode (
    PostalCodeID SERIAL PRIMARY KEY,
    PostalCode VARCHAR(6) NOT NULL
);

CREATE TABLE Segment (
    SegmentID SERIAL PRIMARY KEY,
    Segment VARCHAR(11) NOT NULL
);

CREATE TABLE Country (
    CountryID SERIAL PRIMARY KEY,
    Country VARCHAR(13) NOT NULL
);

CREATE TABLE Customers (
    CustomerID VARCHAR(8) PRIMARY KEY,
    CustomerName VARCHAR(100) NOT NULL,
    CountryID INT,
    FOREIGN KEY (CountryID) REFERENCES Country(CountryID)
);

CREATE TABLE Product (
    ProductID VARCHAR(15) PRIMARY KEY,
    ProductName VARCHAR(255) NOT NULL
);

CREATE TABLE "order" (
    OrderID VARCHAR(14) PRIMARY KEY,
    OrderDate DATE,
    Sales DECIMAL(10, 5),
    Quantity INT,
    Discount DECIMAL(5, 2),
    Profit DECIMAL(10, 5),
    CustomerID VARCHAR(8),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

CREATE TABLE Category (
    CategoryID SERIAL PRIMARY KEY,
    Category VARCHAR(15)
);

CREATE TABLE SubCategory (
    SubCategoryID SERIAL PRIMARY KEY,
    SubCategory VARCHAR(50),
    CategoryID INT,
    FOREIGN KEY (CategoryID) REFERENCES Category(CategoryID)
);

In [11]:
%%sql
INSERT INTO Country (Country)
SELECT DISTINCT Country
FROM superstore;

 * postgresql://postgres:***@localhost:5432/superstoredb
1 rows affected.

[]

In [13]:
%%sql

INSERT INTO Shipment (ShipDate, ShipMode)
SELECT DISTINCT ShipDate, ShipMode
FROM SuperStore;

INSERT INTO "state" ("state")
SELECT DISTINCT "State"
FROM SuperStore;

INSERT INTO Region (Region)
SELECT DISTINCT Region
FROM SuperStore;

INSERT INTO City (City)
SELECT DISTINCT City
FROM SuperStore;

INSERT INTO PostalCode (PostalCode)
SELECT DISTINCT PostalCode
FROM SuperStore;

INSERT INTO Segment (Segment)
SELECT DISTINCT Segment
FROM SuperStore;

 * postgresql://postgres:***@localhost:5432/superstoredb
2608 rows affected.
49 rows affected.
4 rows affected.
531 rows affected.
631 rows affected.
3 rows affected.
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "product_pkey"
DETAIL:  Key (productid)=(OFF-BI-10004632) already exists.

[SQL: INSERT INTO Product (ProductID, ProductName)
SELECT DISTINCT ProductID, ProductName
FROM SuperStore;]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [ ]:

%%sql

INSERT INTO Product (ProductID, ProductName)
SELECT DISTINCT ProductID, ProductName
FROM SuperStore;

INSERT INTO "order" (OrderID, OrderDate, Sales, Quantity, Discount, Profit, CustomerID)
SELECT DISTINCT OrderID, OrderDate, Sales, Quantity, Discount, Profit, CustomerID
FROM SuperStore;

In [12]:
%%sql
INSERT INTO Customers (CustomerID, CustomerName, CountryID)
SELECT DISTINCT CustomerID, CustomerName, CountryID
FROM SuperStore
JOIN Country ON SuperStore.Country = Country.Country;

 * postgresql://postgres:***@localhost:5432/superstoredb
793 rows affected.

[]

In [ ]:
%%sql
CREATE TABLE StateMap (
    StateID INT,
    CustomerID VARCHAR(8),
    PRIMARY KEY (StateID, CustomerID),
    FOREIGN KEY (StateID) REFERENCES State(StateID),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

CREATE TABLE RegionMap (
    RegionID INT,
    CustomerID VARCHAR(8),
    PRIMARY KEY (RegionID, CustomerID),
    FOREIGN KEY (RegionID) REFERENCES Region(RegionID),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

CREATE TABLE CityMap (
    CityID INT,
    CustomerID VARCHAR(8),
    PRIMARY KEY (CityID, CustomerID),
    FOREIGN KEY (CityID) REFERENCES City(CityID),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

CREATE TABLE PostalCodeMap (
    PostalCodeID INT,
    CustomerID VARCHAR(8),
    PRIMARY KEY (PostalCodeID, CustomerID),
    FOREIGN KEY (PostalCodeID) REFERENCES PostalCode(PostalCodeID),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

CREATE TABLE SegmentMap (
    SegmentID INT,
    CustomerID VARCHAR(8),
    PRIMARY KEY (SegmentID, CustomerID),
    FOREIGN KEY (SegmentID) REFERENCES Segment(SegmentID),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

CREATE TABLE ProductMap (
    OrderID VARCHAR(14),
    ProductID VARCHAR(15),
    PRIMARY KEY (OrderID, ProductID),
    FOREIGN KEY (OrderID) REFERENCES "order"(OrderID),
    FOREIGN KEY (ProductID) REFERENCES Product(ProductID)
);

 * postgresql://postgres:***@localhost:5432/superstoredb
(psycopg2.errors.UndefinedTable) relation "state" does not exist

[SQL: CREATE TABLE StateMap (
    StateID INT,
    CustomerID VARCHAR(8),
    PRIMARY KEY (StateID, CustomerID),
    FOREIGN KEY (StateID) REFERENCES State(StateID),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)