### Connecting to Postgresql

In [18]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.12/site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [21]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [22]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [23]:
%sql postgresql://postgres:@localhost:5432/superstoredb

In [39]:
%%sql

CREATE TABLE Country (
    CountryID SERIAL PRIMARY KEY,
    Country VARCHAR(255) NOT NULL
);

CREATE TABLE Region (
    RegionID SERIAL PRIMARY KEY,
    Region VARCHAR(255) NOT NULL,
    CountryID INT NOT NULL,
    FOREIGN KEY (CountryID) REFERENCES Country(CountryID)
);

CREATE TABLE State (
    StateID SERIAL PRIMARY KEY,
    State VARCHAR(255) NOT NULL,
    RegionID INT NOT NULL,
    FOREIGN KEY (RegionID) REFERENCES Region(RegionID)
);

CREATE TABLE City (
    City VARCHAR(255),
    PostalCode VARCHAR(20),
    StateID INT,
    CityPostalCodeKey VARCHAR(255) GENERATED ALWAYS AS (City || '-' || PostalCode) STORED,
    PRIMARY KEY (CityPostalCodeKey),
    FOREIGN KEY (StateID) REFERENCES State(StateID)
);

CREATE TABLE Shipment (
    ShipmentID SERIAL PRIMARY KEY,
    ShipMode VARCHAR(255) NOT NULL
);

 * postgresql://postgres:***@localhost:5432/superstoredb
Done.
Done.
Done.
Done.
Done.

[]

In [40]:
%%sql

CREATE TABLE Segment (
    SegmentID SERIAL PRIMARY KEY,
    Segment VARCHAR(255) NOT NULL
);

CREATE TABLE Customers (
    CustomerID VARCHAR(50) PRIMARY KEY,
    CustomerName VARCHAR(255) NOT NULL,
    SegmentID INT NOT NULL,
    FOREIGN KEY (SegmentID) REFERENCES Segment(SegmentID)
);

 * postgresql://postgres:***@localhost:5432/superstoredb
Done.
Done.

[]

In [41]:
%%sql

CREATE TABLE Category (
    CategoryID SERIAL PRIMARY KEY,
    Category VARCHAR(255) NOT NULL
);

CREATE TABLE SubCategory (
    SubCategoryID SERIAL PRIMARY KEY,
    SubCategory VARCHAR(255) NOT NULL,
    CategoryID INT NOT NULL,
    FOREIGN KEY (CategoryID) REFERENCES Category(CategoryID)
);

CREATE TABLE Product (
    ProductID VARCHAR(50),
    ProductName VARCHAR(255),
    SubCategoryID INT,
    ProductIDNameKey VARCHAR(255) GENERATED ALWAYS AS (ProductID || '-' || ProductName) STORED,
    PRIMARY KEY (ProductIDNameKey),
    FOREIGN KEY (SubCategoryID) REFERENCES SubCategory(SubCategoryID)
);

CREATE TABLE Orders (
    RowID INT PRIMARY KEY,
    OrderID VARCHAR(50) NOT NULL,
    OrderDate DATE,
    Sales DECIMAL(10, 2),
    Quantity INT,
    Discount DECIMAL(5, 2),
    Profit DECIMAL(10, 2) ,
    ShipDate DATE,
    CustomerID VARCHAR(50) NOT NULL,
    ShipmentID INT NOT NULL,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID),
    FOREIGN KEY (ShipmentID) REFERENCES Shipment(ShipmentID)
);

 * postgresql://postgres:***@localhost:5432/superstoredb
Done.
Done.
Done.
Done.

[]

In [42]:
%%sql

CREATE TABLE ProductMap (
    RowID INT NOT NULL,
    ProductIDNameKey VARCHAR NOT NULL,
    PRIMARY KEY (RowID, ProductIDNameKey),
    FOREIGN KEY (RowID) REFERENCES Orders(RowID),
    FOREIGN KEY (ProductIDNameKey) REFERENCES Product(ProductIDNameKey)
);

CREATE TABLE CityMap (
    ShipmentID INT,
    CityPostalCodeKey VARCHAR(255),
    PRIMARY KEY (ShipmentID, CityPostalCodeKey),
    FOREIGN KEY (ShipmentID) REFERENCES Shipment(ShipmentID),
    FOREIGN KEY (CityPostalCodeKey) REFERENCES City(CityPostalCodeKey)
);

 * postgresql://postgres:***@localhost:5432/superstoredb
Done.
Done.

[]

In [43]:
%%sql
INSERT INTO Country (Country)
SELECT DISTINCT Country
FROM SuperStore
WHERE NOT EXISTS (
    SELECT 1
    FROM Country
    WHERE Country.Country = SuperStore.Country
);

INSERT INTO Region (Region, CountryID)
SELECT DISTINCT Region, Country.CountryID
FROM SuperStore
JOIN Country ON Country.Country = Superstore.Country
WHERE NOT EXISTS (
    SELECT 1
    FROM Region
    WHERE Region.Region = SuperStore.Region
);

INSERT INTO State (State, RegionID)
SELECT DISTINCT State, Region.RegionID
FROM SuperStore
JOIN Region ON Superstore.Region = Region.Region
WHERE NOT EXISTS (
    SELECT 1
    FROM State
    WHERE State.State = SuperStore.State
);

INSERT INTO City (City, PostalCode, StateID)
SELECT DISTINCT City, PostalCode, State.StateID
FROM SuperStore
JOIN State ON State.State = Superstore.State
WHERE NOT EXISTS (
    SELECT 1
    FROM City
    WHERE City.City = SuperStore.City
    AND City.PostalCode = SuperStore.PostalCode
);

INSERT INTO Shipment (ShipMode)
SELECT DISTINCT ShipMode
FROM SuperStore
WHERE NOT EXISTS (
    SELECT 1
    FROM Shipment
    WHERE Shipment.ShipMode = SuperStore.ShipMode
);

 * postgresql://postgres:***@localhost:5432/superstoredb
1 rows affected.
4 rows affected.
49 rows affected.
632 rows affected.
4 rows affected.

[]

In [44]:
%%sql


INSERT INTO Segment (Segment)
SELECT DISTINCT Segment
FROM SuperStore
WHERE NOT EXISTS (
    SELECT 1
    FROM Segment
    WHERE Segment.Segment = SuperStore.Segment
);

INSERT INTO Customers (CustomerID, CustomerName, SegmentID)
SELECT DISTINCT 
    CustomerID, 
    CustomerName, 
    Segment.SegmentID
FROM SuperStore
JOIN Segment ON SuperStore.Segment = Segment.Segment
WHERE NOT EXISTS (
    SELECT 1
    FROM Customers
    WHERE Customers.CustomerID = SuperStore.CustomerID
);

 * postgresql://postgres:***@localhost:5432/superstoredb
3 rows affected.
793 rows affected.

[]

In [45]:
%%sql

INSERT INTO Category (Category)
SELECT DISTINCT Category
FROM SuperStore
WHERE NOT EXISTS (
    SELECT 1
    FROM Category
    WHERE Category.Category = SuperStore.Category
);

INSERT INTO SubCategory (SubCategory, CategoryID)
SELECT DISTINCT 
    SubCategory, 
    Category.CategoryID
FROM SuperStore
JOIN Category ON Category.Category = SuperStore.Category
WHERE NOT EXISTS (
    SELECT 1
    FROM SubCategory
    WHERE SubCategory.SubCategory = SuperStore.SubCategory
);

INSERT INTO Product (ProductID, ProductName, SubCategoryID)
SELECT DISTINCT 
    SuperStore.ProductID, 
    SuperStore.ProductName,
    SubCategory.SubCategoryID
FROM SuperStore
JOIN SubCategory ON SuperStore.SubCategory = SubCategory.SubCategory
WHERE NOT EXISTS (
    SELECT 1
    FROM Product
    WHERE Product.ProductIDNameKey = CONCAT(ProductID, '-', ProductName)
);

 * postgresql://postgres:***@localhost:5432/superstoredb
3 rows affected.
17 rows affected.
1894 rows affected.

[]

In [46]:
%%sql
INSERT INTO Orders (RowID, OrderID, OrderDate, Sales, Quantity, Discount, Profit, ShipDate, CustomerID, ShipmentID)
SELECT 
    SuperStore.RowID, 
    SuperStore.OrderID, 
    SuperStore.OrderDate, 
    SuperStore.Sales, 
    SuperStore.Quantity, 
    SuperStore.Discount, 
    SuperStore.Profit, 
    SuperStore.ShipDate, 
    Customers.CustomerID,
    Shipment.ShipmentID
FROM SuperStore
JOIN Customers ON SuperStore.CustomerID = Customers.CustomerID
JOIN Shipment ON SuperStore.ShipMode = Shipment.ShipMode;

 * postgresql://postgres:***@localhost:5432/superstoredb
9994 rows affected.

[]

In [47]:
%%sql

INSERT INTO ProductMap (RowID, ProductIDNameKey)
SELECT DISTINCT
    Orders.RowID,
    Product.ProductIDNameKey
FROM SuperStore
JOIN Orders ON SuperStore.RowID = Orders.RowID
JOIN Product ON CONCAT(SuperStore.ProductID, '-', SuperStore.ProductName) = Product.ProductIDNameKey;

INSERT INTO CityMap (ShipmentID, CityPostalCodeKey)
SELECT DISTINCT
    Shipment.ShipmentID,
    CONCAT(SuperStore.City, '-', SuperStore.PostalCode)
FROM SuperStore
JOIN Shipment ON SuperStore.ShipMode = Shipment.ShipMode
WHERE EXISTS (
    SELECT 1 
    FROM City 
    WHERE City.CityPostalCodeKey = CONCAT(SuperStore.City, '-', SuperStore.PostalCode)
);

 * postgresql://postgres:***@localhost:5432/superstoredb
9994 rows affected.
1333 rows affected.

[]